html {
  scroll-behavior: smooth;
}

body {
  font-family: "Arbutus Slab", serif;
  margin: 0;
  padding: 0;
  background-image: url('CARLOS\ INC.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh; /* Set minimum height to 100% of the viewport height */
  overflow: hidden; /* Disable scrolling */
}

.slider {
  overflow: hidden;
  width: 50%;
  margin-top: 20px;
  float: left;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
}

.img-box img {
  height: 100%;
  width: 60%; /* You may adjust this percentage accordingly */
  border-radius: 60%;
}

header, nav, section, footer {
  
  margin: 20px;
  padding: 20px;
  background-color: #1718165d;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#about {
  font-family: "Arbutus Slab", serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d6d4d4;
  margin-bottom: 10px;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-box {
  font-family: "Arbutus Slab", serif;
  flex: 2;
  text-align: left;
  margin-left: 20px;
}

#about h2 {
  font-family: "Arbutus Slab", serif;
  font-size: 24px;
  font-weight: bold;
}

#about p {
  font-family: "Arbutus Slab", serif;
  font-size: 18px;
  font-weight: bold;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #ffffff;
}



footer {
  position: fixed;
  bottom: 0;
  margin-top: 40px;
  text-align: center;
  color: #777;
  width: 100%;
  background-color: #f8f8f8;
}

/* Animation code */


header {
text-align: center;
animation: fadeInUp 1.5s ease-out;
}


nav {
text-align: center;
animation: slideInDown 1.5s ease-out;
}

#about {
text-align: center;
animation: fadeInLeft 1.5s ease-out;
}


#resume {
text-align: center;
animation: fadeInRight 1.5s ease-out;
}


#portfolio {
text-align: center;
animation: fadeInUp 1.5s ease-out;
}





#contact {
text-align: center;
animation: fadeIn 1.5s ease-out;
}




@keyframes fadeInUp {
from {
  opacity: 0;
  transform: translateY(20px);
}
to {
  opacity: 1;
  transform: translateY(0);
}
}

@keyframes slideInDown {
from {
  opacity: 0;
  transform: translateY(-20px);
}
to {
  opacity: 1;
  transform: translateY(0);
}
}

@keyframes fadeInLeft {
from {
  opacity: 0;
  transform: translateX(-20px);
}
to {
  opacity: 1;
  transform: translateX(0);
}
}

@keyframes fadeInRight {
from {
  opacity: 0;
  transform: translateX(20px);
}
to {
  opacity: 1;
  transform: translateX(0);
}
}

@keyframes fadeInDown {
from {
  opacity: 0;
  transform: translateY(20px);
}
to {
  opacity: 1;
  transform: translateY(0);
}
}

@keyframes fadeIn {
from {
  opacity: 0;
}
to {
  opacity: 1;
}
}

@keyframes slideInUp {
from {
  opacity: 0;
  transform: translateY(20px);
}
to {
  opacity: 1;
  transform: translateY(0);
}
}
